<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Azure" value="https://redacted.pkgs.visualstudio.com/_packaging/Azure/nuget/v3/index.json" />
    <!-- Uncomment the next line to use a local nuget repository -->
    <!-- <add key="Local" value="C:\Projects\Packages" /> -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Azure">
      <package pattern="Redacted.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
